html,
body {
  height: 100%;
  overflow: auto;
}
body.wait {
  cursor: wait !important;
}
body.wait * {
  cursor: wait !important;
}
.kaltura-loader {
  background-image: url(../images/small_loader.gif);
  display: none;
  height: 16px;
  width: 16px;
}
form.kaltura-form {
  height: 100%;
  margin: 0;
}
.kaltura-edit-entry-form {
  padding: 0 16px;
}
.kaltura-edit-entry-form #entry-title {
  max-width: 400px;
}
.kaltura-edit-entry-form #entry-description {
  max-width: 400px;
}
.media_page_interactive_video_library .column-posts {
  width: 5em;
}
.kaltura-pager {
  float: right;
  margin-right: 6%;
  text-align: center;
}
.kaltura-tab {
  margin: 15px;
}
.kaltura-tab #filter-categories {
  height: 240px;
  width: 36%;
}
.kaltura-tab #kaltura-browse {
  width: 56%;
}
.kaltura-tab .filter-category-input {
  height: 16px;
  width: 16px;
}
.kaltura-tab .filter-category-input:checked {
  height: 16px;
  width: 16px;
}
.kaltura-tab #filter-categories-header {
  width: 45%;
}
.kaltura-tab #filter-categories-button {
  right: 9%;
}
.kaltura-tab .entry-search-filter {
  width: 34%;
}
.kaltura-tab .entry-search-filter > input[name="search"] {
  width: 130px;
}
.kaltura-tab input {
  font-size: 12px;
}
.kaltura-tab .filter-category-div-wrapper {
  margin-bottom: 4px;
}
.kaltura-updated {
  font-weight: bold;
  padding: 0.6em 1.6em;
}
a.kalturaLink {
  color: #006699;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}
a.kalturaLink:hover {
  color: #6699CC;
}
div.kaltura-wrap {
  max-width: 1200px;
  padding-top: 10px;
}
ul#kaltura-browse {
  float: right;
  list-style: none;
  padding: 0 0 0 5px;
  width: 72%;
  overflow: auto;
}
ul#kaltura-browse li {
  background: url("../images/entries_bg.png") center 0 no-repeat;
  float: left;
  margin: 0 10px 15px 10px;
  padding: 10px 0 5px 0;
  position: relative;
  text-align: center;
  width: 180px;
}
ul#kaltura-browse li .status {
  background-color: #e5f1fb;
  color: #333333;
  display: none;
  height: 25px;
  left: 0;
  line-height: 25px;
  margin: 0 40px;
  position: absolute;
  top: 97px;
  width: 100px;
  z-index: 5;
}
ul#kaltura-browse li .thumb {
  border: none;
  height: 100px;
}
ul#kaltura-browse li .thumb .overlay {
  background-image: url(../images/status_bg.png);
  display: none;
  height: 90px;
  left: 0;
  margin: 0 30px;
  position: absolute;
  top: 40px;
  width: 120px;
  z-index: 2;
}
ul#kaltura-browse li .entryTitle.showName {
  cursor: pointer;
  font-weight: bold;
}
ul#kaltura-browse li .entryTitle {
  color: #31302E;
  font-size: 11px;
  height: 30px;
  line-height: 15px;
  margin: 0 5px 0 5px;
  overflow: hidden;
}
ul#kaltura-browse li .submit {
  border: none;
  padding: 5px 10px 0;
  text-align: center;
}
ul#kaltura-browse li .submit input {
  border: none;
  height: 22px;
  margin: 0 5px;
  padding: 0;
  width: 23px;
}
ul#kaltura-browse li .submit input.checkbox {
  height: 10px;
  width: 10px;
}
ul#kaltura-browse li .submit input.delete {
  background: url("../images/delete_icon.gif") 0 0 no-repeat;
  cursor: pointer;
}
ul#kaltura-browse li .submit input.add {
  background: url("../images/add_icon.gif") 0 0 no-repeat;
  cursor: pointer;
}
ul#kaltura-browse li .submit input.thumb {
  background: url("../images/capture_icon.gif") 0 0 no-repeat;
  cursor: pointer;
}
ul#kaltura-browse li .submit a {
  color: #004265;
}
ul#kaltura-browse li input.sendButton {
  width: 9em;
}
ul#kaltura-browse li.statusConverting .overlay {
  display: block;
}
ul#kaltura-browse li.statusConverting div.convertingMsg {
  display: block;
}
ul#kaltura-browse li.statusError .overlay {
  display: block;
}
ul#kaltura-browse li.statusError div.errorMsg {
  display: block;
}
#update-thumbnail-page {
  height: 100%;
  overflow: hidden;
}
#update-thumbnail-page .page-wrapper {
  background-color: #EAF3FA;
  border: solid 1px #B0D1E0;
  margin: 10px;
}
#update-thumbnail-page .player-wrapper {
  margin-top: 20px;
  min-height: 330px;
}
#update-thumbnail-page .player-wrapper #kplayer {
  height: 330px;
  margin: 0 auto;
  width: 400px;
}
#update-thumbnail-page p {
  padding: 0 30px;
  text-align: center;
}
#send-to-editor {
  border: solid 1px #AED3E3;
}
#send-to-editor .videoTitle {
  padding-left: 30px;
}
#send-to-editor .entry-error,
#send-to-editor .entry-converting {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
}
#send-to-editor .entry-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
#send-to-editor .entry-converting {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#send-to-editor.first-edit {
  padding-top: 50px;
}
#send-to-editor .form-table {
  height: 100%;
  width: 100%;
}
#send-to-editor .form-table td {
  border: 0;
}
#send-to-editor .form-table td table {
  width: 100%;
}
#send-to-editor .form-table .options-td {
  padding-top: 0;
  padding-left: 30px;
  width: 50%;
}
#send-to-editor .kaltura-loader {
  margin: 50px auto;
}
#send-to-editor .playerName {
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0 0 5px;
  overflow: hidden;
  position: absolute;
  width: 200px;
}
#send-to-editor table.options td {
  padding: 0;
}
#send-to-editor table.options td.options-aspect-ratio {
  vertical-align: top;
  width: 40%;
}
#send-to-editor table.options td.options-aspect-ratio > strong {
  display: inline-block;
  margin-bottom: 10px;
}
#send-to-editor table.options td.options-size > strong {
  display: inline-block;
  margin-bottom: 10px;
}
#send-to-editor .backDiv {
  padding: 5px;
  text-align: right;
}
#send-to-editor td.kaltura-preview-player-wrapper {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
}
#send-to-editor .player-selector-tr div.selectBox {
  padding-bottom: 15px;
}
#send-to-editor .player-selector-tr div.selectBox #uiConfId {
  height: 25px;
  margin-left: 10px;
  width: 250px;
}
#send-to-editor .submit {
  border: 0;
  margin: 0 10px 10px 10px;
  padding: 0;
  text-align: right;
}
#send-to-editor .player-aspect-ratio {
  margin-top: 75%;
}
#send-to-editor .kaltura-responsive-player-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
#send-to-editor #divKalturaPlayer {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#send-to-editor p.note {
  font-size: 10px;
  margin: 5px 0 0 10px;
  width: 400px;
}
#send-to-editor label {
  font-weight: bold;
}
#send-to-editor fieldset {
  padding: 5px 5px 10px 5px;
}
#send-to-editor fieldset legend {
  padding-bottom: 0;
}
#send-to-editor div.selectBox {
  margin-bottom: 15px;
}
#send-to-editor .playerRatioDiv {
  margin-bottom: 10px;
}
#send-to-editor div.radioBox {
  padding: 4px 0 12px 0;
}
#send-to-editor div.radioBox .iradio {
  position: relative;
  top: 3px;
}
#send-to-editor div.radioBox label {
  padding-left: 7px;
}
#send-to-editor div.checkBox {
  padding: 4px 0 12px 0;
}
#send-to-editor input#playerCustomWidth {
  height: 25px;
}
#send-to-editor select {
  height: auto;
  padding: 0;
  width: 130px;
}
#kaltura-cms-login {
  background-color: #E1EAEF;
  border: solid 1px #B4D5E5;
  margin: 5px 0 15px 0;
}
#kaltura-cms-login .kalturaFirstRow td {
  padding-top: 10px;
}
#kaltura-cms-login .kalturaFirstRow th {
  padding-top: 10px;
}
#kaltura-cms-login th {
  font-weight: normal;
  padding-left: 10px;
}
#kaltura-cms-login .kalturaLastRow td {
  padding-bottom: 10px;
  padding-right: 10px;
}
.kaltura-wrap #kaltura-cms-login {
  float: right;
  margin-right: 6%;
}
.entries p.info {
  float: left;
  margin: 0 0 12px;
}
.settings_page_kaltura_options .registration .form-table th {
  width: 250px;
}
.settings_page_kaltura_options .registration input[type="text"] {
  width: 300px;
}
.settings_page_kaltura_options .registration select {
  width: 300px;
}
.settings_page_kaltura_options .registration textarea {
  width: 300px;
}
.settings_page_kaltura_options .registration .error {
  background-color: #FFEBE8;
  border: solid 1px #CC0000;
}
.settings_page_kaltura_options .registration label.error {
  border: none;
}
.settings_page_kaltura_options .registration tr.agree_to_terms label.error {
  background: transparent;
  color: #CC0000;
  display: block;
}
.settings_page_kaltura_options select {
  width: 420px;
}
.settings_page_kaltura_options tr.advanced {
  display: none;
}
.settings_page_kaltura_options .user_identifier_desc {
  padding-left: 23px;
  width: 400px;
}
.settings_page_kaltura_options tr.user_identifier label {
  font-weight: bold;
}
.settings_page_kaltura_options .available-players .players-scroll {
  max-height: 120px;
  overflow-y: auto;
  width: 420px;
}
.settings_page_kaltura_options .available-players .players-scroll label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#all-in-one-video-pack-widget #kaltura-loader {
  display: none;
  height: 35px;
  margin: auto;
  padding: 20px 0;
  width: 35px;
}
#all-in-one-video-pack-widget #kaltura-sidebar-menu {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
#all-in-one-video-pack-widget #kaltura-sidebar-menu a {
  cursor: pointer;
  white-space: nowrap;
}
#all-in-one-video-pack-widget #kaltura-sidebar-menu a.selected {
  font-weight: bold;
}
#all-in-one-video-pack-widget #kaltura-sidebar-menu a.selected:hover {
  cursor: default;
  text-decoration: none;
}
#all-in-one-video-pack-widget ul#kaltura-items {
  margin: 0;
}
#all-in-one-video-pack-widget ul#kaltura-items li {
  background: none;
  margin-bottom: 10px;
  margin: 0;
  text-align: center;
}
#all-in-one-video-pack-widget ul#kaltura-items li:before {
  content: "";
}
#all-in-one-video-pack-widget ul#kaltura-items li div.thumb {
  background-color: #000000;
  height: 90px;
  margin: 0 auto;
  width: 120px;
}
#all-in-one-video-pack-widget ul.kaltura-sidebar-pager {
  margin: 0 0 30px 0;
  padding: 0;
  width: 100%;
}
#all-in-one-video-pack-widget ul.kaltura-sidebar-pager li {
  background: none;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
}
#all-in-one-video-pack-widget ul.kaltura-sidebar-pager li:before {
  content: "";
}
#all-in-one-video-pack-widget ul.kaltura-sidebar-pager a {
  cursor: pointer;
}
#kaltura-wrap #root_category {
  width: 450px;
}
.filter-side {
  float: left;
  width: 25%;
}
.filter-category-label {
  position: relative;
  top: -6px;
}
.filter-category-input:checked {
  -moz-box-shadow: 0 0 12px #CCCC00;
  -webkit-box-shadow: 0 0 12px #CCCC00;
  box-shadow: 0 0 12px #CCCC00;
}
.entry-search-filter {
  float: right;
  margin-right: 6%;
}
.kaltura-filter-bar {
  overflow: hidden;
}
.kaltura-caret {
  cursor: pointer;
  float: left;
  font-size: 10px;
  left: -2px;
  margin-right: 3px;
  position: relative;
  top: -4px;
}
#filter-media-owner-type-wrap {
  float: left;
  margin-bottom: 15px;
}
#filter-categories {
  border: 1px solid #d5d2ca;
  height: 100%;
  margin-right: 20px;
  max-height: 500px;
  overflow: auto;
  padding: 15px;
}
#filter-categories-button {
  display: block;
  margin: 0 auto;
  width: 80px;
}
