input#kaltura_video_comment{ margin-top: 0; }

.entry-content .kaltura-player-wrapper embed,
.entry-content .kaltura-player-wrapper iframe,
.entry-content .kaltura-player-wrapper object,
.entry-content .kaltura-player-wrapper video { margin: 0; }

.kaltura-powered-by { font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; font-size: 9px; text-align: right; overflow: hidden; line-height: 11px; }
.kaltura-powered-by div { padding: 2px 0px; }
.kaltura-powered-by div a { text-decoration: none; }

/*--------------------------------
	Modal Window
---------------------------------*/
#kalturaOverlay{ position: fixed; top: 0; left: 0; z-index: 8; width: 100%; height: 100%; background:url("../images/trans_bg.png") 0 0 repeat; cursor: wait; }
* html #kalturaOverlay{ position: absolute; background:#000; filter: alpha(opacity=40); top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0) + 'px'); }
.kalturaModal{ display:none; position:fixed; z-index:9; top:50%; left:50%; margin-left:-170px; width:340px; pading:10px; border: 4px solid #525252; background-color:#fff; }
* html .kalturaModal{ position: absolute; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0) + 'px'); }

#all-in-one-video-pack-widget #kaltura-loader { display: none; width: 35px; height: 35px; padding: 20px 0; margin: auto; }
#all-in-one-video-pack-widget #kaltura-loader img {
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-box-shadow: none; box-shadow: none;
}
#all-in-one-video-pack-widget #kaltura-sidebar-menu { width:100%; margin: 0; padding: 10px 0; text-align: center; }
#all-in-one-video-pack-widget #kaltura-sidebar-menu a { cursor: pointer; white-space: nowrap; }
#all-in-one-video-pack-widget #kaltura-sidebar-menu a.selected { font-weight: bold; }
#all-in-one-video-pack-widget #kaltura-sidebar-menu a.selected:hover { text-decoration: none; cursor: default; }
#all-in-one-video-pack-widget #kaltura-video-comments { text-align: center; }
#all-in-one-video-pack-widget #kaltura-video-posts { text-align: center; }

#all-in-one-video-pack-widget ul#kaltura-items { margin: 0; }
#all-in-one-video-pack-widget ul#kaltura-items li { background: none; text-align: center; margin: 0; margin-bottom: 10px; }
#all-in-one-video-pack-widget ul#kaltura-items li:before { content: ""; }
#all-in-one-video-pack-widget ul#kaltura-items li div.thumb { width: 120px; height: 90px; margin: 0 auto; background-color: #000000; }

#all-in-one-video-pack-widget ul.kaltura-sidebar-pager { width:100%; margin: 0 0 30px 0; padding: 0; }
#all-in-one-video-pack-widget ul.kaltura-sidebar-pager li { float: left; width: 50%; text-align: center; margin: 0; padding: 0; background: none; }
#all-in-one-video-pack-widget ul.kaltura-sidebar-pager li:before { content: ""; }
#all-in-one-video-pack-widget ul.kaltura-sidebar-pager a { cursor: pointer; }
