html, body{ height:100%; }
/*-------------------------------- 
	Front end
---------------------------------*/
.kalturaHand{ cursor: pointer; cursor: hand; }

.kalturaPager{ text-align: center; }
input#kaltura_video_comment{ margin-top: 0; }

.poweredByKaltura { font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; font-size: 9px; height: 12px; text-align: right; overflow: hidden; line-height: 11px; }
.poweredByKaltura div { padding-right: 5px; }

/*-------------------------------- 
	Admin
---------------------------------*/

/* general for tabs */
.kalturaTab{ padding: 15px; }
.kalturaUpdated{ padding: 0.6em 1.6em; font-weight: bold; }
#kalturaBackLink{ position: absolute; top: 55px; right: 10px;  }
a.kalturaLink{ color: #006699; font-size: 14px; font-weight: bold; text-decoration: underline; }
a.kalturaLink:hover{ color: #6699CC; }

/* create tab */
#kalturaCreateDiv { text-align: center; padding-top: 60px; }
#kalturaCreateDiv input { padding-right: 1.25em; padding-left: 1.25em; width: 14em; }

/* browse tab */
div.kalturaWrapFix { max-width: 810px; padding-top: 10px; }
ul#kalturaBrowse { list-style: none; padding: 0 0 0 5px; margin: 1em 0 0 0; }
	ul#kalturaBrowse li{ float: left; width: 180px; margin: 0 10px 15px 10px; padding: 10px 0 5px 0; text-align: center; background:url("../images/entries_bg.png") center 0 no-repeat; }
		ul#kalturaBrowse li .thumb{ height:100px; border:none; }
			ul#kalturaBrowse li .thumb a{  }
			ul#kalturaBrowse li img{  }
		ul#kalturaBrowse li .showName{ line-height: 15px; height: 30px; font-size: 11px; font-weight: bold; color: #31302E; overflow: hidden; margin: 0 5px 0 5px; }
		ul#kalturaBrowse li .submit{ text-align: center; padding: 5px 10px 0; border:none; }
			ul#kalturaBrowse li .submit input{ width:23px; height:22px; margin:0 5px; border:none; }
				ul#kalturaBrowse li .submit input.add{ background:url("../images/add_icon.gif") 0 0 no-repeat; }
				ul#kalturaBrowse li .submit input.edit{ background:url("../images/edit_icon.gif") 0 0 no-repeat; }
				ul#kalturaBrowse li .submit input.del{ background:url("../images/delete_icon.gif") 0 0 no-repeat; }
				ul#kalturaBrowse li .submit input.thumb{ background:url("../images/capture_icon.gif") 0 0 no-repeat; }
				ul#kalturaBrowse li .submit input.edit_video{ background:url("../images/edit_video_icon.gif") 0 0 no-repeat; }
			ul#kalturaBrowse li .submit a{ color:#004265; }
	ul#kalturaBrowse li input.sendButton{ width: 9em; }

/* update thumbnail */
#updateThumbnailFrame { overflow: hidden; }
	#updateThumbnailFrame .playerWrapper { background-color: #EAF3FA; border: solid 1px #B0D1E0; margin: 10px; }
		#updateThumbnailFrame .playerWrapper #kplayer { width: 350px; height: 320px; margin: 20px auto 0 auto; }
	#updateThumbnailFrame .submit { text-align: right; margin-right: 20px; height: 25px; }
	#updateThumbnailFrame .submit input { float: left; margin-top: 15px; }
	#updateThumbnailFrame .submit div { float: left; padding: 5px 10px 10px 10px; text-align: left; width: 660px; }

/* edit & send tabs */
#kalturaEditTable{  }
#kalturaEditTable label{ font-weight:bold; }
#kalturaEditTable fieldset{ padding: 5px 5px 10px 5px; }
#kalturaEditTable fieldset legend{ padding-bottom: 0px; }

#kalturaEditTable div.selectBox{ margin-bottom:15px; }
	#kalturaEditTable div.selectBox label{ display:block;}
	
#kalturaEditTable div.radioBox{ padding:4px 0 12px 0; }
	#kalturaEditTable div.radioBox .iradio{ position:relative; top:3px; }
	#kalturaEditTable div.radioBox label{ padding-left:7px; }

#kalturaEditButtons{ margin:0; padding:0; text-align:right; border: 0; }
#kalturaEditButtons input{ margin-right: 10px; }
#kalturaPlayerSizeText{ padding: 5px 0 10px 5px; font-weight: bold; }
#kalturaEditTable .playerName{ position: absolute; margin: 5px 0 0 5px; font-size: 12px; width: 200px; font-weight: normal; color: #000; overflow: hidden; }
#kalturaEditTable table td{ padding: 0; }
#kalturaEditTable select{ width: 130px; height:auto; padding:0; }
.kalturaTab .backDiv{ text-align: right; }


#kalturaCmsLogin{ background-color: #E1EAEF; border: solid 1px #B4D5E5; margin: 5px 0 15px 0; }
#kalturaCmsLogin .kalturaFirstRow td{ padding-top: 10px; }
#kalturaCmsLogin .kalturaFirstRow th{ padding-top: 10px; }
#kalturaCmsLogin th{ font-weight:normal; padding-left: 10px; }
#kalturaCmsLogin .kalturaLastRow td{ padding-right: 10px; padding-bottom: 10px; }

fieldset.kalturaNoBorderFieldSet{ border: 0; }
fieldset.kalturaNoBorderFieldSet legend label{ font-weight: bold; }


form.kalturaForm{ margin: 0; }

table.kalturaFormTable{ border: solid 1px #AED3E3; }
table.kalturaFormTable td{ border: 0; }
	table.kalturaFormTable td table{ width:100%; }

/*-------------------------------- 
	Modal Window
---------------------------------*/
#kalturaOverlay{ position: fixed; top: 0; left: 0; z-index: 8; width: 100%; height: 100%; background:url("../images/trans_bg.png") 0 0 repeat; cursor: wait; }
* html #kalturaOverlay{ position: absolute; background:#000; filter: alpha(opacity=40); top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0) + 'px'); }

.kalturaModal{ display:none; position:fixed; z-index:9; top:50%; left:50%; margin-left:-170px; width:340px; pading:10px; border: 4px solid #525252; background-color:#fff; }
* html .kalturaModal{ position: absolute; top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0) + 'px'); }

/*-------------------------------- 
	Contribution Wizard Modal Window
---------------------------------*/
* html .modalContributionWizard{ top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0) + 200 + 'px'); } 

/*-------------------------------- 
	Simple Editor Modal Window
---------------------------------*/
* html .modalSimpleEditor{ top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(0) + 300 + 'px'); }


/*-------------------------------- 
	Sidebar Widget
---------------------------------*/

#all-in-one-video-pack-widget #kaltura-loader { display: none; width: 35px; height: 35px; padding: 20px 0; margin: auto; }
#all-in-one-video-pack-widget #kaltura-sidebar-menu { width:100%; margin: 0; padding: 10px 0; text-align: center; }
	#all-in-one-video-pack-widget #kaltura-sidebar-menu a { cursor: pointer; white-space: nowrap; }
	#all-in-one-video-pack-widget #kaltura-sidebar-menu a.selected { font-weight: bold; }
	#all-in-one-video-pack-widget #kaltura-sidebar-menu a.selected:hover { text-decoration: none; cursor: default; }
	
#all-in-one-video-pack-widget ul#kaltura-items { margin: 0; }  
	#all-in-one-video-pack-widget ul#kaltura-items li { background: none; text-align: center; margin: 0; margin-bottom: 10px; }
	#all-in-one-video-pack-widget ul#kaltura-items li:before { content: ""; }
	#all-in-one-video-pack-widget ul#kaltura-items li div.thumb { width: 120px; height: 90px; margin: 0 auto; background-color: #000000; }
	
#all-in-one-video-pack-widget ul.kaltura-sidebar-pager { width:100%; margin: 0 0 30px 0; padding: 0; }
	#all-in-one-video-pack-widget ul.kaltura-sidebar-pager li { float: left; width: 50%; text-align: center; margin: 0; padding: 0; background: none; }
	#all-in-one-video-pack-widget ul.kaltura-sidebar-pager li:before { content: ""; }
	#all-in-one-video-pack-widget ul.kaltura-sidebar-pager a { cursor: pointer; }